@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: ivory;
}

.canvasContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
* Interface
*/

.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	font-family: "Bebas Neue", cursive;
}

.time {
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	color: #ffffff;
	font-size: 6vh;
	background: #00000033;
	padding-top: 5px;
	text-align: center;
}

.restart {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 40%;
	width: 100%;
	color: #ffffff;
	font-size: 80px;
	background: #00000033;
	padding-top: 10px;
	pointer-events: auto;
	cursor: pointer;
}

.controls {
	position: absolute;
	bottom: 10%;
	left: 20%;
	width: 100%;
}

.controls .raw {
	display: flex;
	justify-content: center;
}

.controls .key {
	width: 40px;
	height: 40px;
	margin: 4px;
	border: 2px solid #ffffff;
	background: #ffffff44;
}

.controls .key.large {
	width: 144px;
}

.controls .key.active {
	background: #ffffff99;
}

@media (hover: hover) {
	.controlKeys {
		position: absolute;
		width: 18rem;
		left: 50%;
		margin-left: -9rem;
		bottom: 10%;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	#joystick {
		display: none;
	}
}

@media (hover: none) {
	.controlKeys {
		display: none;
	}
}

.htmlScreen iframe {
	width: 95vw;
	height: 70vh;

	overflow: hidden;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 20px 50px rgb(23, 32, 90);
	border: 2px solid #2a3cad;
	color: white;
	padding: 10px;
}

.htmlScreen:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	transition: 0.5s;
	pointer-events: none;
}
