@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stats {
    @apply bg-[#2f0d16] text-white p-4 flex-1 rounded-md border-[#692335] border-2;
  }

  .stats-container {
    @apply bg-[#2f0d16] p-5 rounded-lg border-[#692335] border flex-1;
  }
  .countdown {
    @apply max-w-sm px-1 py-5 text-3xl text-center text-white rounded-lg lg:min-w-[100px] bg-gradient-to-br from-rose-700 to-blue-800 lg:max-w-sm;
  }
  .countdown-label {
    @apply text-center text-white uppercase text-sm pt-4;
  }
  .buy-btn {
    @apply mt-5 w-full bg-gradient-to-br from-rose-700 to-violet-800 px-3 py-3 rounded-md text-white shadow-xl disabled:from-gray-600 disabled:to-gray-100 disabled:cursor-not-allowed !important;
  }
  .buy-btn:hover {
    @apply animate-pulse;
  }

  .connect-btn {
    @apply bg-gradient-to-br from-rose-700 to-violet-800 px-3 py-3 mt-0 rounded-md text-white shadow-xl disabled:from-gray-600 disabled:to-gray-100 disabled:cursor-not-allowed !important;
  }
  .connect-btn:hover {
    @apply animate-pulse;
  }
  .win-btn {
    @apply text-white w-full rounded-[0.75rem] text-center block bg-gradient-to-b from-[#FFA500] to-[#008000] shadow-md p-4 animate-pulse !important;
  }
  .admin-btn {
    @apply bg-[#2f0d16] block p-2 text-white flex-1 rounded-[0.25rem] border-[2px] border-solid border-[#e358c9] hover:text-white hover:bg-pink-500 !important;
  }
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
* Interface
*/

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: "Bebas Neue", cursive;
}

.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 20px;
  border: #02367f;
  user-select: none;
}

.time {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 6vh;
  background: #00000033;
  padding-top: 5px;
  text-align: center;
}

.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  width: 100%;
  color: #ffffff;
  font-size: 80px;
  background: #00000033;
  padding-top: 10px;
  pointer-events: auto;
  cursor: pointer;
}

.controls {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #ffffff44;
}

.controls .key.large {
  width: 144px;
}

.controls .key.active {
  background: #ffffff99;
}

@media (hover: hover) {
  .controlKeys {
    position: absolute;
    width: 18rem;
    left: 50%;
    margin-left: -9rem;
    bottom: 10%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #joystick {
    display: none;
  }
}

@media (hover: none) {
  .controlKeys {
    display: none;
  }
}

.htmlScreen iframe {
  width: 95vw;
  height: 70vh;

  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 10px;
}

.htmlScreen:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}
